In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("c:/Users/Gojo/Desktop/Data Scientist in 100 Days/Datasets/StudentPerformanceFactors.csv", index_col = 1)

In [5]:
data.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [6]:
data.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [18]:
data.groupby("Hours_Studied").Sleep_Hours.unique()

Hours_Studied
1                  [6, 8, 4]
2            [8, 9, 7, 6, 4]
3        [8, 6, 9, 7, 5, 10]
4         [8, 7, 9, 6, 5, 4]
5        [8, 9, 7, 6, 10, 4]
6        [7, 6, 9, 8, 10, 5]
7     [8, 9, 6, 7, 10, 4, 5]
8     [9, 7, 6, 8, 5, 10, 4]
9     [8, 5, 4, 7, 9, 6, 10]
10    [8, 7, 6, 9, 4, 5, 10]
11    [8, 9, 6, 5, 7, 4, 10]
12    [7, 8, 4, 6, 9, 5, 10]
13    [6, 9, 5, 4, 7, 8, 10]
14    [10, 5, 7, 9, 6, 8, 4]
15    [9, 5, 7, 6, 8, 4, 10]
16    [4, 6, 8, 7, 5, 9, 10]
17    [6, 8, 5, 7, 9, 4, 10]
18    [4, 7, 6, 8, 5, 9, 10]
19    [8, 6, 7, 10, 5, 9, 4]
20    [8, 7, 6, 9, 5, 4, 10]
21    [8, 6, 7, 5, 10, 4, 9]
22    [6, 7, 8, 5, 9, 10, 4]
23    [7, 8, 6, 9, 4, 5, 10]
24    [7, 8, 6, 9, 5, 10, 4]
25    [6, 5, 8, 7, 9, 4, 10]
26    [6, 7, 5, 8, 4, 10, 9]
27    [8, 7, 6, 5, 9, 4, 10]
28    [8, 9, 6, 10, 7, 4, 5]
29    [8, 7, 5, 4, 9, 6, 10]
30    [5, 6, 8, 7, 9, 10, 4]
31    [7, 4, 9, 5, 6, 8, 10]
32    [8, 5, 7, 6, 10, 9, 4]
33       [6, 7, 5, 10, 8, 9]
34       [7, 10, 9, 6, 8, 5]
35          [7, 6, 10, 8, 5]
36          [6, 8, 5, 7, 10]
37              [8, 7, 6, 9]
38           [7, 8, 6, 4, 5]
39          [9, 10, 8, 6, 5]
43                       [7]
44                       [9]
Name: Sleep_Hours, dtype: object